<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CreateTables.Properties.Settings.sfimarConnectionString"
            connectionString="Data Source=MATRIX-PC;Initial Catalog=sfimar;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=m1a2t3"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>