  /*modal css*/
   .modal {
            /*top: 50% !important;*/
            /*left: 22% !important;*/
            /*left: 183px;*/
            position: absolute;
            /*top: 75.5px;*/
            z-index: 10000007;
            opacity: 1;
            /* display: block;*/
        }

        .modal-open .modal {
            background: none;
            border: none;
        }
           .modal-header {
            border-bottom: 1px solid #e5e5e5;
            background: #1b82ec;
            color: #fff;
            padding-top: 0px;
            padding-bottom: 0px;
            height: 34px;
        }

        .modal-footer {
            padding: 15px;
            text-align: right;
            border-top: 1px solid #e5e5e5;
            background: #1b82ec;
            padding-bottom: 5px;
            padding-top: 5px;
        }
        .modal-xl {
            width: 80% !important;
            max-width: 1200px;
        }

        .modal-xl {
            min-width: 90%;
            margin-top: 10%;
        }

        .modal-body {
            max-height: 80vh;
            overflow-x: hidden;
            overflow-y: scroll;
        }
        
        .close {
            float: right;
            font-size: 21px;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-shadow: 0 1px 0 #fff;
            filter: alpha(opacity=20);
            opacity: 2;
        }

        .btnspl {
            min-width: 217px;
            padding: 10px 50px;
        }
        .row {
    margin: 10px 0px;
}
        
        .row {
            margin-right: 0px;
            margin-left: 0px;
        }
        .modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #1b82ec;
    color: #fff;
    padding-top: 0px;
    padding-bottom: 0px;
}
        .modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    background: #1b82ec;
    padding-bottom: 5px;
    padding-top: 5px;
}
             .modal-xl {
    width: 80% !important;
   max-width:1200px;
   
  }  
             
             .modal-body{
                 max-height: 80vh;
    overflow-x: hidden;
    overflow-y: scroll;
             }
        
        .close {
            float: right;
            font-size: 21px;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-shadow: 0 1px 0 #fff;
            filter: alpha(opacity=20);
            opacity: 2;
        }
        .btnspl{
            min-width: 217px;
            padding: 10px 50px;
        }
        .modal-header .close {
    margin-top: -22px;
}
        .modal-title{
            line-height:2;
        }
        .btn-browse{
            padding: 10px 58px !important;
        }
     