body {
}

.table-hover {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    .table-hover td, .table-hover th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .table-hover tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .table-hover tr:hover {
        background-color: #ddd;
    }

    .table-bordered th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #7ac032;
        color: white !important;
    }

.fa-trash-alt {
    color: red;
}

.pb-10 {
    padding-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

/*normal css*/
.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.panel-body {
    padding: 20px;
    /*z-index:0 !important;*/
    padding-top: 0px !important;
}

.panel-body {
    padding: 0px !important;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px !important;
    z-index: 100000000;
    opacity: 1 !important;
}

.btnspl {
    padding: 12px 50px !important;
    min-width: 180px;
}

.btn-primary {
    color: #fff;
    background-color: red !important;
    border-color: red !important;
    padding: 6px 12px !important;
}
.modal-footer .btn-primary {
    padding: 0px 12px !important;
                            }
.panel-heading-btn label {
    color: #fff;
}

.btn-info {
    color: #fff;
    background-color: red !important;
    border-color: red !important;
}

 .panel-heading .btn-info {
    color: #fff;
    background-color: red !important;
    border-color: red !important;
 }
 .panel-heading h4{
     color: #fff !important;
 }
.nav-tabs > li.active > a {
    color: #555;
    cursor: default;
    background-color: #a4afc4 !important;
}

.form-control {
    border: 1px solid blue !important;
}

.select2-container .select2-selection--single {
    height: 34px;
}

.select2-container--default .select2-selection--single {
    border: 1px solid blue !important;
}

.select2-container {
    width: 100% !important;
}

.form-group {
    margin-bottom: 0px !important;
}

.ui-widget-content {
    border: none !important;
}

.panel-body {
    padding: 20px;
    background: whitesmoke;
}
/*normal css end*/
.form-control {
    border: 1px solid #00bcd4;
    width: 90%;
}

.nopad {
    padding: 0;
}

.full-wdth {
    width: 100% !important;
}
.table > thead:first-child > tr:first-child > td {
 background: #18558a !important;
 color:#ffffff !important;
}
table.dataTable>thead .sorting:before, table.dataTable>thead .sorting_asc:before,
table.dataTable>thead .sorting:after, table.dataTable>thead .sorting_asc:after{
    color: #fff !important;
    opacity:1 !important;
}
.tbClose{
    display: block;
    float: left;
    padding: 2px 5px 0px;
    background: red;
    /*border-radius: 50%;*/
    margin: 0;
}
}