<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Pagecontent.master.cs" Inherits="Pagecontent" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title></title>
    <link href="css/custom_bundle.css" rel="stylesheet" />
    <link href="assets/plugins/font-awesome/5.0/css/fontawesome-all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" />
    <link rel="stylesheet" href="https://ajax.microsoft.com/ajax/jquery.ui/1.8.6/themes/smoothness/jquery-ui.css" />
    
    <link href="css/custom-theme.css" rel="stylesheet" />
    <%--temp css list table--%>
    <link href="assets/custom.css" rel="stylesheet" />
  
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" />

    
   <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
       
   
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>

</head>
<body>

    <%--preloader for tab loading Start--%>
    <div class="loading-container" id="page-loader" >
        <div class="loader">
            <div class="inner one"></div>
            <div class="inner two"></div>
            <div class="inner three"></div>
        </div>
    </div>
    <%--preloader for tab loading End--%>
    <link href='<%= ResolveUrl("css/CommonPage.css")%>' rel="stylesheet" />
    <div class="alert-box warning" style="display: none;"><strong><i class="fa fa-comment"></i>&nbsp;Friendly Warning!!</strong> This tab is already opened.</div>

    <form id="form1" runat="server">
        <asp:ScriptManager ID="ScriptManager1" runat="server">
        </asp:ScriptManager>
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>

    <%--this is for pre-loader--%>
    <script>
        $(window).on('load', function () {
            $("#page-loader").hide();
        });
        window.parent.onload = function () {
        };
    </script>
 <%--   <script src='<%= ResolveUrl("assets/plugins/jquery/jquery-3.2.1.min.js")%>'></script>--%>

 <%--   <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>--%>


    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>

    <script src='<%= ResolveUrl("assets/plugins/jquery-ui/jquery-ui.min.js")%>'></script>
 
   <%-- <script src='<%= ResolveUrl("assets/plugins/slimscroll/jquery.slimscroll.min.js")%>'></script>
    <script src='<%= ResolveUrl("assets/plugins/js-cookie/js.cookie.js")%>'></script>
    <script src='<%= ResolveUrl("assets/js/theme/default.min.js")%>'></script>
    <script src='<%= ResolveUrl("assets/js/apps.min.js")%>'></script>--%>
    <script src='<%= ResolveUrl("assets/js/AjaxData.js?version=20200326")%>'></script>

    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <%--<script src='<%= ResolveUrl("assets/plugins/gritter/js/jquery.gritter.js")%>'></script>
    <script src='<%= ResolveUrl("assets/plugins/flot/jquery.flot.min.js")%>'></script>
    <script src='<%= ResolveUrl("assets/plugins/flot/jquery.flot.time.min.js")%>'></script>
    <script src='<%= ResolveUrl("assets/plugins/flot/jquery.flot.resize.min.js")%>'></script>
    <script src='<%= ResolveUrl("assets/plugins/flot/jquery.flot.pie.min.js")%>'></script>
    <script src='<%= ResolveUrl("assets/plugins/sparkline/jquery.sparkline.js")%>'></script>
    <script src='<%= ResolveUrl("assets/plugins/jquery-jvectormap/jquery-jvectormap.min.js")%>'></script>
    <script src='<%= ResolveUrl("assets/plugins/jquery-jvectormap/jquery-jvectormap-world-mill-en.js")%>'></script>--%>

    <%--<script src='<%= ResolveUrl("assets/js/demo/dashboard.min.js")%>'></script>--%>
    <%--<script src='<%= ResolveUrl("assets/plugins/jquery-smart-wizard/src/js/jquery.smartWizard.js")%>'></script>
    <script src='<%= ResolveUrl("assets/js/demo/form-wizards.demo.min.js")%>'></script>--%>


    <script>
        $(function () {
            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd/mm/yy"

            });
        });
    </script>
    <!-- ================== END PAGE LEVEL JS ================== -->
    <script>
        $(document).ready(function () {
          //  App.init();

        });

    </script>

    <%--<script type="text/javascript" src="assets/js/select2.min.js"></script>--%>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script>
        $(function () {
            Sys.WebForms.PageRequestManager.getInstance().add_pageLoaded(function () {
                $(".js-example-placeholder-single").select2({
                    placeholder: "Select a state",
                    allowClear: true
                });
            });
        });




        $(function () {
            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd/mm/yy"

            });
        });
    </script>
    <%--Anurag sir--%>

    <script>
        $(document).ready(function (){
            //$(".clps_desn a").click(function (e) {
            $(document.body).on("click", ".clps_desn a", function (e) {
                e.preventDefault();
                var $this = $(this);
                debugger;
                var href = this.href;//this.attr('href')

                var tabNameExists = false;
                nameToCheck = $.trim(this.innerText);
                parent.$('#tabs ul li a span').each(function (i) {
                    if (this.innerText == nameToCheck) {
                        tabNameExists = true;
                    }
                });
                if (tabNameExists == false) {
                    var newTabName = $.trim(this.innerText).replaceAll(/\s/g, '').toUpperCase();
                    newTabName = newTabName.replace(/[^a-zA-Z ]/g, "");
                    var id = newTabName;//parent.$(".nav-tabs").children().length;
                    var t = '<li class="nav-item"><a id="a' + id + '" load-in="frame' + id + '" class="nav-link" href="#hr' + id + '" data-toggle="tab"><span style="font-size:14px; float: left; padding: 0 20px 0 0;font-weight:400;">' + this.innerText + '</span> &nbsp; <span class="tbClose" style="float:right"><i class="fa fa-times" style="display:block;float:right;"></i></span></a></li>';
                    parent.$(".nav-tabs").append(t);
                    var tcontent = '<div id="hr' + id + '" class="tab-pane fade in "><iframe id="frame' + id + '" class="responsive-iframe" style="border:0px;min-height:100vh;" width="100%;" src="' + this.href + '" onload="resizeIframe(this)"></iframe></div>'
                    parent.$(".tab-content").append(tcontent);

                    //parent.$(".nav-tabs>li").removeClass('active');
                    //parent.$(".tab-content>div").removeClass('active');
                    //parent.$(".tab-content>div").removeClass('show');
                    //parent.$('#menutab a[href="hr' + id + '"]').tab('show')
                    //parent.$("#hr" + id).addClass("show");

                    parent.$(".tab-content>div").removeClass('show');
                    parent.$(".tab-content>div").removeClass('active');
                    parent.$('.nav-tabs li a').removeClass('active')
                    parent.$('.nav-tabs li').removeClass('active')

                    parent.$('#menutab a[href="hr' + id + '"]').tab('show')
                    parent.$("#hr" + id).addClass("show");
                    parent.$('#a' + id).addClass("active");


                }
                else {
                    //alert("This tab already exist");
                    $("div.warning").fadeIn(300).delay(1500).fadeOut(400);
                    // window.scrollTo({ top: 0, behavior: 'smooth' });
                }

            });

            $(document.body).on("click", ".clps_desn img", function (e) {
                e.preventDefault();
                var $this = $(this);
                debugger;
                var href = this.id;//this.attr('href')
            //update by anurag for tab work in welcome page ////////
                var tabNameExists = false;
                var orderTypeName = $(this).attr('alt');
                nameToCheck = orderTypeName+'-'+ $.trim(href);
                parent.$('#tabs ul li a span').each(function (i,v) {
                    if (v.innerText == nameToCheck) {
                        tabNameExists = true;
                    }
                });
                if (tabNameExists == false) {
                    var newTabName = nameToCheck.replaceAll(/\s/g, '').toUpperCase();
                    newTabName = newTabName.replace(/[^a-zA-Z1-9]/g, "");
                    var id = newTabName;//parent.$(".nav-tabs").children().length;
                    var t = '<li class="nav-item"><a id="a' + id + '" load-in="frame' + id + '" class="nav-link" href="#hr' + id + '" data-toggle="tab"><span style="font-size:14px;font-family:"Roboto Condensed", sans-serif;font-weight:400;">' + nameToCheck + '</span> &nbsp; <span class="tbClose" style="float:right; padding: 0px 5px 0px 5px;"><i class="fa fa-times" style="font-size:18px;"></i></span></a></li>';
                    parent.$(".nav-tabs").append(t);
                    var tcontent = '<div id="hr' + id + '" class="tab-pane fade in "><iframe id="frame' + id + '" class="responsive-iframe" style="border:0px;min-height:100vh;" width="100%;" src="' + $(this).closest('a').attr('href') + '" onload="resizeIframe(this)"></iframe></div>'
                    parent.$(".tab-content").append(tcontent);

                    //parent.$(".nav-tabs>li").removeClass('active');
                    //parent.$(".tab-content>div").removeClass('active');
                    //parent.$(".tab-content>div").removeClass('show');
                    //parent.$('#menutab a[href="hr' + id + '"]').tab('show')
                    //parent.$("#hr" + id).addClass("show");

                    parent.$(".tab-content>div").removeClass('show');
                    parent.$(".tab-content>div").removeClass('active');
                    parent.$('.nav-tabs li a').removeClass('active')
                    parent.$('.nav-tabs li').removeClass('active')

                    parent.$('#menutab a[href="hr' + id + '"]').tab('show')
                    parent.$("#hr" + id).addClass("show");
                    parent.$('#a' + id).addClass("active");


                }
                else {
                    //alert("This tab already exist");
                    $("div.warning").fadeIn(300).delay(1500).fadeOut(400);
                    // window.scrollTo({ top: 0, behavior: 'smooth' });
                }

            });

            $(document.body).on("click", "#RecentOrders a", function (e) {
                e.preventDefault();
                var $this = $(this);
                debugger;
                var href = this.href;//this.attr('href')

                var tabName = $(this.closest('td')).find('span').text();

                var tabNameExists = false;
                nameToCheck = $.trim(tabName);
                parent.$('#tabs ul li a span').each(function (i,v) {
                    if (v.innerText == nameToCheck) {
                        tabNameExists = true;
                    }
                });
                if (tabNameExists == false) {
                    var newTabName = $.trim(tabName).replaceAll(/\s/g, '').toUpperCase();
                    newTabName = newTabName.replace(/[^a-zA-Z1-9 ]/g, "");
                    var id = newTabName;//parent.$(".nav-tabs").children().length;
                    var t = '<li class="nav-item"><a id="a' + id + '" load-in="frame' + id + '" class="nav-link" href="#hr' + id + '" data-toggle="tab"><span style="font-size:14px;font-family:"Roboto Condensed", sans-serif;font-weight:400;">' + tabName + '</span> &nbsp; <span class="tbClose" style="float:right"><i class="fa fa-times" style="font-size:12px;"></i></span></a></li>';
                    parent.$(".nav-tabs").append(t);
                    var tcontent = '<div id="hr' + id + '" class="tab-pane fade in "><iframe id="frame' + id + '" class="responsive-iframe" style="border:0px;min-height:100vh;" width="100%;" src="' + this.href + '" onload="resizeIframe(this)"></iframe></div>'
                    parent.$(".tab-content").append(tcontent);

                    //parent.$(".nav-tabs>li").removeClass('active');
                    //parent.$(".tab-content>div").removeClass('active');
                    //parent.$(".tab-content>div").removeClass('show');
                    //parent.$('#menutab a[href="hr' + id + '"]').tab('show')
                    //parent.$("#hr" + id).addClass("show");

                    parent.$(".tab-content>div").removeClass('show');
                    parent.$(".tab-content>div").removeClass('active');
                    parent.$('.nav-tabs li a').removeClass('active')
                    parent.$('.nav-tabs li').removeClass('active')

                    parent.$('#menutab a[href="hr' + id + '"]').tab('show')
                    parent.$("#hr" + id).addClass("show");
                    parent.$('#a' + id).addClass("active");


                }
                else {
                    //alert("This tab already exist");
                    $("div.warning").fadeIn(300).delay(1500).fadeOut(400);
                    // window.scrollTo({ top: 0, behavior: 'smooth' });
                }

            });
        });
    </script>

     <script>

            $(document).bind("keyup keydown", function(e) {
                if (e.ctrlKey && e.keyCode === 80) {
                    debugger ;//  window.frames["iframe"]
                    window.frames["iframe"].focus();
                    window.frames["iframe"].print();

                    return false;
                }
                return true;
            });
        </script>
</body>
</html>
