<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Same config, nothing removed, only safe Newtonsoft fix applied
-->
<configuration>

  <!--<appSettings>
    <add key="PaymentNote" value="8"/>
    <add key="CountGallary" value="8"/>
    <add key="CountUserGallary" value="8"/>
    <add key="CountPlate" value="8"/>
    <add key="paypalID" value=""/>
    -->
  <!--<add key="sendmail" value="ankit@askonengineers.com" />-->
  <!--
    <add key="sendmail" value="businesscenter@marqetrix.com"/>
    <add key="site" value="http://askonengineers.com"/>
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
  </appSettings>-->

  <appSettings>
    <add key="BSPInvoiceFilePath" value="~/BSPInvoices/" />
    <add key="VoidAmt" value="300" />
    <!--<add key="ApiUrl" value="https://redaanfinalapi.admirabletechno.com" />-->
	  <!--<add key="ApiUrl" value="https://rstrestapi.rstpms.com" />-->
	  <add key="ApiUrl" value="http://localhost:5000" />
    <add key="CompanyId" value="1067" />
    <add key="DomainUrl" value="https://hotelpremierinn.rstpms.com" />
  </appSettings>

  <connectionStrings>
    <add name="ConnectionString"
         connectionString="Data Source=103.120.179.213;Initial Catalog=rst; Integrated Security=false;User ID=SA;Password=Aayat#1w2123acvg; MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>

    <!--<sessionState timeout="1440"/>-->
    <sessionState mode="InProc" timeout="60" />

    <httpRuntime maxRequestLength="51200" />
    <globalization culture="en-GB" uiCulture="en-GB" />

    <customErrors mode="Off" />

    <compilation debug="true" targetFramework="4.6.1"
                 tempDirectory="C:\Inetpub\vhosts\admirabletechno.com\tmp">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.0.0.0,
                      Culture=neutral,
                      PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>

    <pages controlRenderingCompatibilityVersion="3.5"
           clientIDMode="AutoID"
           maintainScrollPositionOnPostBack="true">
      <controls>
        <add assembly="AjaxControlToolkit"
             namespace="AjaxControlToolkit"
             tagPrefix="AjaxToolKit" />
      </controls>
    </pages>

    <httpHandlers>
      <add verb="GET"
           path="CrystalImageHandler.aspx"
           type="CrystalDecisions.Web.CrystalImageHandler,
                 CrystalDecisions.Web,
                 Version=10.5.3700.0,
                 Culture=neutral,
                 PublicKeyToken=692fbea5521e1304" />
    </httpHandlers>

  </system.web>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="90000000" />
      </webServices>
    </scripting>
  </system.web.extensions>

  <system.webServer>

    <validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="false" />

    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
      </files>
    </defaultDocument>

    <rewrite>
      <rules>
        <rule name="redirect to admin default.aspx">
          <match url="Admin" />
          <action type="Redirect" url="Default.aspx" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>
        <assemblyIdentity name="EPPlus"
                          publicKeyToken="ea159fdaa78159a1"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.3.1"
                         newVersion="4.5.3.1" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http"
                          publicKeyToken="b03f5f7f11d50a3a"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0"
                         newVersion="2.0.0.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0"
                         newVersion="5.2.7.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0"
                         newVersion="4.0.0.0" />
      </dependentAssembly>

      <!-- 🔥 FINAL SAFE FIX -->
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json"
                          publicKeyToken="30ad4fe6b2a6aeed"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.1.0"
                         newVersion="13.0.1.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="WebGrease"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234"
                         newVersion="1.5.2.14234" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.5631.0"
                         newVersion="2.5.5631.0" />
      </dependentAssembly>

    </assemblyBinding>
  </runtime>

</configuration>